/* .container{
    
    display: flex;
    max-width: 1300px;
    width: 90%;
    margin: auto;
    gap: 5%;
    justify-content: start;
    align-items: stretch;
    flex-flow: row wrap;
    row-gap: 50px; */


/* 
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em; */
/* } */
/* 
.pagination {
    min-width: 100%;
} */


.dogsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: 20%;
    margin-top: 110px;
}

.paginated{
    min-width: 50%;
    display:inline
}

.container {
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    
}